body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    width: 500px;
    margin-left: 50%;
    padding-top: 50px;
    font-family: 'verdana';
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background: #B90606;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

li.checked {
    border: 2px solid #1a681e;
    background-color: #9CE3A1;
}

li.notChecked {
    border: 2px solid #B90606;
    background-color: #E39C9C;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 3px solid #000;
}

button{
    padding: 10px;
    background: grey;
    color: #fff;
    cursor: pointer;
    border: 3px solid #000;
}